<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        
        <title><%= title%></title>
        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="stylesheets/lessthen800.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="stylesheets/lessthen600.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="stylesheets/lessthen480.css" />
                                   
        <!-- CUSTOM STYLE -->                                                                        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/custom-style.css" />
        
        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- [favicon] end -->  
        
        <!-- MAIN FONT STYLE -->  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A400&amp;subset=latin%2Ccyrillic%2Cgreek" type="text/css" media="all" />      
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" media="all" />      
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A200%2C400" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic" type="text/css" media="all" />
        <!-- END MAIN FONT STYLE -->  
        
        <link rel="stylesheet" id="prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all" />
        <link rel="stylesheet" id="jquery-tipsy-css" href="stylesheets/tipsy.css" type="text/css" media="all" />
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="js/jquery.tweetable.js"></script>        
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>  
        <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.min.js"></script>  
        
        <!-- for accordion slider in staff page -->
        <script type="text/javascript" src="js/jquery.hrzAccordion.js"></script>  
        
        <!-- for filterable effect in gallery and portfolio filterable page -->
        <script type="text/javascript" src="js/jquery.quicksand.js"></script>  
        
        <!-- for portfolio slider -->
        <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script> 
        
        <!-- for the contact page -->
        <script type="text/javascript" src="js/contact.js"></script>  
        
        <!-- SLIDER ELASTIC -->                                                               
        <link rel="stylesheet" id="slider-elastic-css" href="stylesheets/slider-elastic.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.eislideshow.js"></script>
        
        <!-- SLIDER CYCLE -->                                                               
        <link rel="stylesheet" id="slider-cycle-css" href="stylesheets/slider-cycle.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.slides.min.js"></script>
        
        <!-- SLIDER THUMBNAILS -->                                                               
        <link rel="stylesheet" id="slider-thumbnails-css" href="stylesheets/slider-thumbnails.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.aw-showcase.js"></script>
        
        <!-- SLIDER FLASH -->                                                               
        <script type="text/javascript" src="js/swfobject.js"></script>      
        
        <!-- SLIDER ELEGANT -->                                                               
        <link rel="stylesheet" id="slider-elegant-css" href="stylesheets/slider-elegant.css" type="text/css" media="all" />
        
        <!-- SLIDER NIVO -->                                                               
        <link rel="stylesheet" id="slider-nivo-css" href="stylesheets/slider-nivo.css" type="text/css" media="all" />     
        
        <!-- CUSTOM JAVASCRIPT -->                           
        <script type="text/javascript" src="js/jquery.custom.js"></script>
    </head>
    
    <body class="image-sphere-style responsive">
    
        <!-- START SHADOW WRAPPER -->
        <div class="shadowBg group">
            
            <!-- START WRAPPER -->
            <div class="wrapper group">
                 
                <!-- START HEADER -->
                <div id="header" class="group">
                
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                        <a href="index.html" title="Diverso"> 
                        <img src="images/edu.jpeg" alt="EducationUSA" />
                        </a>              
                    </div>
                    <!-- END LOGO -->
                    
                    <!-- START NAV -->
                    <div id="nav" class="group">
                        <ul class="level-1 white">
                            <li class="home">
                                <a href="home">HOME</a>
                            </li>
                            <li class="folder">
                                <a href="gradSchool">Grad School</a>
                            </li>
                            <li class="people">
                                <a href="profiler">Profiler</a>
                            </li>
                            <li class="pen">
                                <a href="professorReviews">Professor Reviews</a>
                            </li>
                            <li class="burst">
                                <a href="finance">Finance</a>
                                <ul class="sub-menu">
                                    <li><a href="scholarship">ScholarShip</a></li>
	                                <li><a href="student">Connect To Sponsor</a></li>
	                                <li><a href="Sponsor">Become a Sponsor</a></li>
                                </ul>
                            </li>
                            <li class="burst">
                                <a href="immigration">Immigration</a>
                                <ul class="sub-menu">
                                    <li><a href="visaStatsInd">Visa Stats</a></li>
	                                <li><a href="viQuestions">Sample Visa Questions</a></li>
	                                <li><a href="ds160faqs">Visa Types</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END NAV -->
                </div>
                <!-- END HEADER -->        
        
                <!-- START CONTENT -->
                <div id="content" class="layout-sidebar-right group">
                
                    <!-- SLOGAN --> 
                    <div id="slogan" class="inner">
                        <h1 class="only"><%= header%></h1>
                    </div>         
                    <!-- END SLOGAN --> 
                
                    <!-- START PRIMARY -->
                    <div id="primary" class="hentry group wrapper-content" role="main">
                    <h2>Few FAQs on DS-160.</h2>
                    <p>Q) I messed up my DS160. Filled incorrect information, forgot some section etc. I realize this after scheduling my interview, What do I do, Im freaking out. </p>

					<p>A ) First, never freak out. Calm down and everything can be fixed. You have 2 options here
					</p>
					<p style = "padding-left:2em">1) Fill up a new DS160 without any mistakes. Yes you can fill as many you want. Take the confirmation page of this new ds160 as well as the old with you to the consulate. Before the interview or during OFC tell them that you messed up and this is the new copy. Also, for the VI keep both pages with you and if the VO asks tell them frankly that you made a mistake and rectified it. It wont be a problem at all
					</p>
					<p style = "padding-left:2em">2) The SAFEST way. Cancel you current appointment. You can do it once. Refill a new DS160 without any mistakes. Take the number and confirmation page. Schedule your appointment again and this time fill in the new ds160 confirmation on the page where you enter passport details and all. Done.
					</p>
					<p>Q) I scheduled an appointment with details from university X. But now I have an admit from university Y which is way better and I definitely want to change. What to do ?
					</p>
					<p>A) 
					1) Cancel you visa appointment first. Since the university is changing you need to go through the whole procedure again. But you wont need to pay 160$ visa fees again . Keep in mind that there is a limit on cancellations.
					</p>
					<p>2) Pay the sevis fee for the new university with new sevis id. take the receipt.
					</p>
					<p>3) Fill up a new ds160 with details about your new university and its i20. Take the confirmation page and number.
					</p>
					<p>4) go to ustraveldocs site again and click on schedule appointment. At the page where it asks for your passport details etc fill in the ds160 number from point 3 and your new university's sevis id. Schedule appointment as required. 
					</p>
					<p>Q) I messed up with an option on ustraveldocs site.For e.g. I selected "YES" at interview waiver program page and I can schedule an appointment now. etc 
					</p>
					<p>A ) Don't panic. Send out an email to support-india. The exact email is present on their website. Tell them about your mistake. What they do is re-activate your fee payment receipt. So you can schedule your appointment again. Generally takes a day or two but you dont need to pay fess again. 
					</p>

					<p>Q ) I asked for re-issuance of my i20 since the one they sent had some mistakes. What do i do?
					</p>
					<p>A) Do not go to any appointment without your final i20. Cancel your appointment. Get your new i20 and check if the SEVIS id / college code is the same. Also your name should be exactly the same as it is on your passport. If any of the above has changed you might need to pay the SEVIS fee again else it should be fine. Once you are done with that, schedule your appointment again and enter details as per your new i20. 
                   	</p> 
					
					</div>
                    <!-- END CONTENT -->
                    
                    <!-- START SIDEBAR -->
                    <div id="sidebar" class="group">
                        <div class="widget-first widget widget_nav_menu">
                            <h3>Forms</h3>
                            
                            <ul class="menu">
                                <li><a href="visaStatsInd">Visa Stats</a></li>
                                <li><a href="viQuestions">Sample Visa Questions</a></li>
                                <li><a href="ds160faqs">DS-160 FAQs</a></li>
                                <li><a href="immigration">Videos</a></li>
                            </ul>
                        </div>
                        
                        <h3>Google Map</h3>
                        <div class="google-map-frame">
                            <iframe width="100%" height="272" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=catania&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=18.129097,39.506836&amp;ie=UTF8&amp;hq=&amp;hnear=Catania,+Sicilia&amp;z=12&amp;output=embed"></iframe>
                            <div class="shadow-thumb-sidebar"></div>
                        </div>
                    </div>
                    <!-- END SIDEBAR -->      
                    
                </div>
                <!-- END CONTENT -->
        

                <!-- START TWITTER -->
                <div id="twitter-slider" class="group">
                    <div class="tweets-list"></div>
                    <div class="bird"></div>
                </div>
                <!-- END TWITTER -->   
                
                           
                <!-- START COPYRIGHT -->
                <div id="copyright" class="group two-columns">
                    <div class="inner group">
                        <p class="left">Copyright <a href="#"><strong>Team 16</strong></a> 2014 - Powered by <strong>Dragons</strong></a></p>
                        <p class="right">
                            <a href="#" class="socials facebook" title="Facebook">facebook</a>
                            <a href="#" class="socials twitter" title="Twitter">twitter</a>
                            <a href="#" class="socials linkedin" title="Linkedin">linkedin</a>
                        </p>
                    </div>
                    
                </div>
                <!-- END COPYRIGHT -->  
                   
            </div>
            <!-- END WRAPPER --> 
            	    
        </div>
        <!-- END SHADOW -->       
        
    </body>
</html>