<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        
        <title><%= title%></title>
        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="stylesheets/lessthen800.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="stylesheets/lessthen600.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="stylesheets/lessthen480.css" />
                                   
        <!-- CUSTOM STYLE -->                                                                        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/custom-style.css" />
        
        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- [favicon] end -->  
        
        <!-- MAIN FONT STYLE -->  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A400&amp;subset=latin%2Ccyrillic%2Cgreek" type="text/css" media="all" />      
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" media="all" />      
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A200%2C400" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic" type="text/css" media="all" />
        <!-- END MAIN FONT STYLE -->  
        
        <link rel="stylesheet" id="prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all" />
        <link rel="stylesheet" id="jquery-tipsy-css" href="stylesheets/tipsy.css" type="text/css" media="all" />
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="js/jquery.tweetable.js"></script>        
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>  
        <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.min.js"></script>  
        
        <!-- for accordion slider in staff page -->
        <script type="text/javascript" src="js/jquery.hrzAccordion.js"></script>  
        
        <!-- for filterable effect in gallery and portfolio filterable page -->
        <script type="text/javascript" src="js/jquery.quicksand.js"></script>  
        
        <!-- for portfolio slider -->
        <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script> 
        
        <!-- for the contact page -->
        <script type="text/javascript" src="js/contact.js"></script>  
        
        <!-- SLIDER ELASTIC -->                                                               
        <link rel="stylesheet" id="slider-elastic-css" href="stylesheets/slider-elastic.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.eislideshow.js"></script>
        
        <!-- SLIDER CYCLE -->                                                               
        <link rel="stylesheet" id="slider-cycle-css" href="stylesheets/slider-cycle.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.slides.min.js"></script>
        
        <!-- SLIDER THUMBNAILS -->                                                               
        <link rel="stylesheet" id="slider-thumbnails-css" href="stylesheets/slider-thumbnails.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.aw-showcase.js"></script>
        
        <!-- SLIDER FLASH -->                                                               
        <script type="text/javascript" src="js/swfobject.js"></script>      
        
        <!-- SLIDER ELEGANT -->                                                               
        <link rel="stylesheet" id="slider-elegant-css" href="stylesheets/slider-elegant.css" type="text/css" media="all" />
        
        <!-- SLIDER NIVO -->                                                               
        <link rel="stylesheet" id="slider-nivo-css" href="stylesheets/slider-nivo.css" type="text/css" media="all" />     
        
        <!-- CUSTOM JAVASCRIPT -->                           
        <script type="text/javascript" src="js/jquery.custom.js"></script>
    </head>
    
    <body class="image-sphere-style responsive">
    
        <!-- START SHADOW WRAPPER -->
        <div class="shadowBg group">
            
            <!-- START WRAPPER -->
            <div class="wrapper group">
                 
                <!-- START HEADER -->
                <div id="header" class="group">
                
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                        <a href="home" title="Fly US"> 
                        <img src="images/edu.jpeg" width = "200" height = "60" alt="EducationUSA" />
                        </a>              
                    </div>
                    <!-- END LOGO -->
                    
                    <!-- START NAV -->
                    <div id="nav" class="group">
                        <ul class="level-1 white">
                            <li class="home">
                                <a href="home">HOME</a>
                            </li>
                            <li class="folder">
                                <a href="gradSchool">Grad School</a>
                            </li>
                            <li class="people">
                                <a href="profiler">Profiler</a>
                            </li>
                            <li class="pen">
                                <a href="professorReviews">Professor Reviews</a>
                            </li>
                            <li class="burst">
                                <a href="finance">Finance</a>
                                <ul class="sub-menu">
                                    <li><a href="scholarship">ScholarShip</a></li>
	                                <li><a href="student">Connect To Sponsor</a></li>
	                                <li><a href="Sponsor">Become a Sponsor</a></li>
                                </ul>
                            </li>
                            <li class="burst">
                                <a href="immigration">Immigration</a>
                                <ul class="sub-menu">
                                    <li><a href="visaStatsInd">Visa Stats</a></li>
	                                <li><a href="viQuestions">Sample Visa Questions</a></li>
	                                <li><a href="ds160faqs">Visa Types</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END NAV -->
                </div>
                <!-- END HEADER -->        
        
                <!-- START CONTENT -->
                <div id="content" class="layout-sidebar-right group">
                
                    <!-- SLOGAN --> 
                    <div id="slogan" class="inner">
                        <h1 class="only">Profile Evaluater</h1>
                    </div>         
                    <!-- END SLOGAN --> 
                
                    <!-- START PRIMARY -->
                    <div id="primary" class="hentry group wrapper-content portfolio-post" role="main">
                    
                        <div class="post_header portfolio_header group">
                            <img alt="004" class="internal" src="images/profile2.png" />
                            <h2>Profile</h2>
                        </div>
                
                        <div class="post_content group">
                            <div class="work-skillsdate">
                                <p class="skills">Evaluate your profile with</p>
                                <p class="workdate"> Ease using profiler. </p>
                            </div>
                
                            <div>
                            	<form name="profile" action="getList" method="post">
									<table>
										<tr>
											<td>GRE VERBAL SCORE</td>
											<td>	<input type="text" id="gre_verbal_score" name="gre_verbal_score" /></td>
										</tr>
										<tr>
										</tr>
										<tr>
											<td>GRE QUANT SCORE</td>
											<td><input type="text" id="gre_quant_score" name="gre_quant_score" /></td>
										</tr>
										<tr>
										</tr>
										<tr>
											<td>TOEFL SCORE</td>
											<td><input type="text" id="toefl_score" name="toefl_score"/></td>
										</tr>
										<tr>
										</tr>
										<tr>
											<td>GPA</td>
											<td><input type ="text" id="gpa" name="gpa"/></td>
										</tr>
										<tr>
										</tr>
										<tr>
											<td>JOB EXPERIENCE (IN YEARS)</td>
											<td><select id="experience" name="experience">
												<option value="5+"> Greater than 5</option>
												<option value="3-5">3-5</option>
												<option value="1-5">1-3</option>
												<option value="0">Less than 1</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>PAPERS PUBLISHED</td>
											<td><input type="text" id="papers" name="papers"/></td>
										</tr>
										<tr>
										</tr>
										<tr>
											<td>	
												<input type="submit" value="submit"/>
											</td>
											<td>
												<input type="reset" value="reset"/>
											</td>
										</tr>
									</table>
                            	</form>
                            </div>
                        </div>
                        
                    </div>
                    <!-- END CONTENT -->        
                    
                    <!-- START SIDEBAR -->
                    <div id="sidebar" class="group">
                        
                        <div class="widget-first widget more_projects">
                            <h3>Evaluators</h3>
                            <div class="more-projects-widget">
                            
                                <div class="top"><a class="prev" href="#">Prev</a></div>
                                
                                <div class="sliderWrap">
                                    <ul>
                                    
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/00161-86x86.jpg" alt="0016" title="0016" /></a>
                                            <a class="meta work-title" href="#">Kassyopea Theme</a>
                                            <p class="meta categories"><a href="#">web design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/0024-86x86.jpg" alt="0024" title="0024" /></a>
                                            <a class="meta work-title" href="#">Olìmpo</a>
                                            <p class="meta categories"><a href="#">restyling</a>, <a href="#">web design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/0041-86x86.jpg" alt="0041" title="0041" /></a>
                                            <a class="meta work-title" href="#">Coffee Break</a>
                                            <p class="meta categories"><a href="#">logo design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/0061-86x86.jpg" alt="0061" title="0061" /></a>
                                            <a class="meta work-title" href="#">Tiramisu video</a>
                                            <p class="meta categories"><a href="#">logo design</a>, <a href="#">web design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/Fotolia_28180973_Subscription_XL-86x86.jpg" alt="Fotolia_28180973_Subscription_XL" title="Fotolia_28180973_Subscription_XL" /></a>
                                            <a class="meta work-title" href="#">Kalysphèra</a>
                                            <p class="meta categories"><a href="#">logo design</a>, <a href="#">web design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/0016-86x86.jpg" alt="0016" title="0016" /></a>
                                            <a class="meta work-title" href="#">Impero Brand</a>
                                            <p class="meta categories"><a href="#">logo design</a></p>
                                        </li>
                                        
                                        <li class="work-item group">
                                            <a class="work-thumb" href="#"><img src="images/various/more-project-widget/00241-86x86.jpg" alt="0024" title="0024" /></a>
                                            <a class="meta work-title" href="#">Brand: Food In Love</a>
                                            <p class="meta categories"><a href="#">logo design</a></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="controls"><a class="next" href="#">Next</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END SIDEBAR -->  
                    
                </div>
                <!-- END CONTENT -->        

                <!-- START TWITTER -->
                <div id="twitter-slider" class="group">
                    <div class="tweets-list"></div>
                    <div class="bird"></div>
                </div>
                <!-- END TWITTER -->   
                
                           
                <!-- START COPYRIGHT -->
                <div id="copyright" class="group two-columns">
                    <div class="inner group">
                        <p class="left">Copyright <a href="#"><strong>Team 16</strong></a> 2014 - Powered by <strong>Dragons</strong></a></p>
                        <p class="right">
                            <a href="#" class="socials facebook" title="Facebook">facebook</a>
                            <a href="#" class="socials twitter" title="Twitter">twitter</a>
                            <a href="#" class="socials linkedin" title="Linkedin">linkedin</a>
                        </p>
                    </div>
                </div>
                <!-- END COPYRIGHT -->  
                   
            </div>
            <!-- END WRAPPER --> 
            	    
        </div>
        <!-- END SHADOW -->       
        
    </body>
</html>