<html>
<head>
<h1>Professor Reviews</h1>
</head>
<body>
<form name="professorReviews" method="post" action="getProfessorReviews">
<table>
<tr>
<td>
University Name (*)<input type="text" id="universityName" name="universityName"/>
</td>
<td>
Department Name<input type="text" id="departmentName" name="departmentName"/>
</td>
</tr>
<tr>
</tr>
<tr>
<td>
<input type="submit" value="Submit"/>
</td>
<td>
<input type="reset" value="Reset"/>
</td>
</tr>
</table>
</form>
</body>
</html>