<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        
        <title>CMPE 272</title>
        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="stylesheets/lessthen800.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="stylesheets/lessthen600.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="stylesheets/lessthen480.css" />
                                   
        <!-- CUSTOM STYLE -->                                                                        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/custom-style.css" />
        
        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- [favicon] end -->  
        
        <!-- MAIN FONT STYLE -->  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A400&amp;subset=latin%2Ccyrillic%2Cgreek" type="text/css" media="all" />      
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" media="all" />      
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A200%2C400" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic" type="text/css" media="all" />
        <!-- END MAIN FONT STYLE -->  
        
        <link rel="stylesheet" id="prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all" />
        <link rel="stylesheet" id="jquery-tipsy-css" href="stylesheets/tipsy.css" type="text/css" media="all" />
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="js/jquery.tweetable.js"></script>        
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>  
        <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.min.js"></script>  
        
        <!-- for accordion slider in staff page -->
        <script type="text/javascript" src="js/jquery.hrzAccordion.js"></script>  
        
        <!-- for filterable effect in gallery and portfolio filterable page -->
        <script type="text/javascript" src="js/jquery.quicksand.js"></script>  
        
        <!-- for portfolio slider -->
        <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script> 
        
        <!-- for the contact page -->
        <script type="text/javascript" src="js/contact.js"></script>  
        
        <!-- SLIDER ELASTIC -->                                                               
        <link rel="stylesheet" id="slider-elastic-css" href="stylesheets/slider-elastic.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.eislideshow.js"></script>
        
        <!-- SLIDER CYCLE -->                                                               
        <link rel="stylesheet" id="slider-cycle-css" href="stylesheets/slider-cycle.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.slides.min.js"></script>
        
        <!-- SLIDER THUMBNAILS -->                                                               
        <link rel="stylesheet" id="slider-thumbnails-css" href="stylesheets/slider-thumbnails.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.aw-showcase.js"></script>
        
        <!-- SLIDER FLASH -->                                                               
        <script type="text/javascript" src="js/swfobject.js"></script>      
        
        <!-- SLIDER ELEGANT -->                                                               
        <link rel="stylesheet" id="slider-elegant-css" href="stylesheets/slider-elegant.css" type="text/css" media="all" />
        
        <!-- SLIDER NIVO -->                                                               
        <link rel="stylesheet" id="slider-nivo-css" href="stylesheets/slider-nivo.css" type="text/css" media="all" />     
        
        <!-- CUSTOM JAVASCRIPT -->                           
        <script type="text/javascript" src="js/jquery.custom.js"></script>
    </head>
    
    <body class="home image-sphere-style responsive">
    
        <!-- START SHADOW WRAPPER -->
        <div class="shadowBg group">
            
            <!-- START WRAPPER -->
            <div class="wrapper group">	
                 
                <!-- START HEADER -->
                <div id="header" class="group">
                
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                        <a href="home" title="Fly US"> 
                        <img src="images/edu.jpeg" width = "200" height = "60" alt="EducationUSA" />
                        </a>              
                    </div>
                    <!-- END LOGO --> 
                    
                    <!-- START NAV -->
                    <div id="nav" class="group">
                        <ul class="level-1 white">
                            <li class="home">
                                <a href="home">HOME</a>
                            </li>
                            <li class="folder">
                                <a href="gradSchool">Grad School</a>
                            </li>
                            <li class="people">
                                <a href="profiler">Profiler</a>
                            </li>
                            <li class="pen">
                                <a href="professorReviews">Professor Reviews</a>
                            </li>
                            <li class="burst">
                                <a href="finance">Finance</a>
                                <ul class="sub-menu">
                                    <li><a href="scholarship">ScholarShip</a></li>
	                                <li><a href="student">Connect To Sponsor</a></li>
	                                <li><a href="Sponsor">Become a Sponsor</a></li>
                                </ul>
                            </li>
                            <li class="burst">
                                <a href="immigration">Immigration</a>
                                <ul class="sub-menu">
                                    <li><a href="visaStatsInd">Visa Stats</a></li>
	                                <li><a href="viQuestions">Sample Visa Questions</a></li>
	                                <li><a href="ds160faqs">Visa Types</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END NAV -->   
                </div>
                <!-- END HEADER -->        
        
                <!-- START CONTENT -->
                <div id="content" class="layout-sidebar-right group">
                
                    <!-- SLOGAN --> 
                    <div id="slogan" class="inner">
                        <h1>Search for Professors</h1>
                        <h3>by university name or department</h3>
                    </div>         
                    <!-- END SLOGAN --> 
                    
                    <!-- START ACCORDION SLIDER -->
        		    <ul class="accordion-slider">
        									
        				<li class="step ListItem" style="max-width:342px">
        					<div class="photo-preview title handle">
        						<img width="130" height="170" src="images/team/david-silvers.jpg" alt="David N. Silvers" title="David N. Silvers" />	
                                <h5><span>David N. Silvers</span></h5>
        						<p class="profile">Clinical, Columbia University</p>
        					</div>
        					<p>David N. Silvers is Clinical Professor of Dermatology and Pathology and Director of the Dermatopathology Laboratory at Columbia University</p>
        				</li>
        									
        				<li class="step ListItem" style="max-width:342px">
        					<div class="photo-preview title handle">
        						<img width="130" height="170" src="images/team/zev-rosenwaks.jpg" alt="Zev Rosenwaks" title="Zev Rosenwaks" />
                                <h5><span>Zev Rosenwaks</span></h5>
        						<p class="profile">Obstetrics, Cornell University</p>
        					</div>
        					<p>Zev Rosenwaks is Professor of Obstetrics and Gynecology at Cornell University and Director and Physician-in-Chief of the Ronald O. Perelman and Claudia Cohen Center for Reproductive Medicine at the Weill Cornell Medical College.</p>
        				</li>
        									
        				<li class="step ListItem" style="max-width:342px">
        					<div class="photo-preview title handle">
        						<img width="130" height="170" src="images/team/dean-takahashi.jpg" alt="Dean Takahashi" title="Dean Takahashi" />
                                <h5><span>Dean Takahashi</span></h5>
        						<p class="profile">Finance, Yale University</p>
        					</div>
        					<p>Dean Takahashi is Adjunct Professor in the Practice of Finance at the Yale School of Management, and Senior Director of Investments at Yale University.</p>
        				</li>
        									
        				<li class="step ListItem" style="max-width:342px">
        					<div class="photo-preview title handle">
        						<img width="130" height="170" src="images/team/william-e-fruhan.jpg" alt="William E. Fruhan" title="William E. Fruhan" />		
                                <h5><span>William E. Fruhan</span></h5>
        						<p class="profile">Foundation, Harvard Business School</p>
        					</div>
        					<p>William E. Fruhan, Jr., is the Baker Foundation Professor, as well as the George E. Bates Professor Emeritus, at the Harvard Business School, where he has served as Senior Associate Dean, Director of Faculty Development,  Chairman of the Executive Education Advanced Management Program, Chairman of the Finance Area, and Course Head for Finance in the first year of the MBA Program.</p>
        				</li>
        									
        				<li class="step ListItem" style="max-width:342px">
        					<div class="photo-preview title handle">
        						<img width="129" height="170" src="images/team/dan-laughhunn.jpg" alt="Dan J. Laughhunn" title="Dan J. Laughhunn" />
                                <h5><span>Dan J. Laughhunn</span></h5>
        						<p class="profile">Emeritus, Duke University</p>
        					</div>
        					<p>Dan J. Laughhunn is Professor Emeritus at Duke University’s Fuqua School of Business.</p>
        				</li>
        								
        			</ul>   
        		    <!-- END ACCORDION SLIDER -->
        		    
                    <!-- START PRIMARY -->
                    <div id="primary" class="hentry group wrapper-content" role="main">
                    	<h1>Search Professor By University</h1>
                        <form name="professorReviews" method="post" action="getProfessorReviews">
                        	<input type="hidden" id="pageNumber" name="pageNumber" value="1"/>
							<table>
								<tr>
									<td>
										University Name (*)<input type="text" id="universityName" name="universityName"/>
									</td>
									<td>
										Department Name<input type="text" id="departmentName" name="departmentName"/>
									</td>
								</tr>
								<tr>
								</tr>
								<tr>
									<td>
										<input type="submit" value="Submit"/>
									</td>
									<td>
										<input type="reset" value="Reset"/>
									</td>
								</tr>
							</table>
						</form>
                    </div>
                    <!-- END CONTENT -->
                    
                     
                    
                </div>
                <!-- END CONTENT -->
        
                <!-- START TWITTER -->
                <div id="twitter-slider" class="group">
                    <div class="tweets-list"></div>
                    <div class="bird"></div>
                </div>
                <!-- END TWITTER -->   
                           
                <!-- START COPYRIGHT -->
                <div id="copyright" class="group two-columns">
                    <div class="inner group">
                        <p class="left">Copyright <a href="#"><strong>Team 16</strong></a> 2014 - Powered by Dragons</p>
                        <p class="right">
                            <a href="#" class="socials facebook" title="Facebook">facebook</a>
                            <a href="#" class="socials twitter" title="Twitter">twitter</a>
                            <a href="#" class="socials linkedin" title="Linkedin">linkedin</a>
                        </p>
                    </div>
                    
                </div>
                <!-- END COPYRIGHT -->  
                   
            </div>
            <!-- END WRAPPER --> 
            	    
        </div>
        <!-- END SHADOW -->       
        
    </body>
</html>