<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        
        <title><%= title%></title>
        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="stylesheets/lessthen800.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="stylesheets/lessthen600.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="stylesheets/lessthen480.css" />
                                   
        <!-- CUSTOM STYLE -->                                                                        
        <link rel="stylesheet" type="text/css" media="all" href="stylesheets/custom-style.css" />
        
        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- [favicon] end -->  
        
        <!-- MAIN FONT STYLE -->  
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A400&amp;subset=latin%2Ccyrillic%2Cgreek" type="text/css" media="all" />      
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" media="all" />      
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%3A200%2C400" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic" type="text/css" media="all" />
        <!-- END MAIN FONT STYLE -->  
        
        <link rel="stylesheet" id="prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all" />
        <link rel="stylesheet" id="jquery-tipsy-css" href="stylesheets/tipsy.css" type="text/css" media="all" />
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="js/jquery.tweetable.js"></script>        
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>  
        <script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.min.js"></script>  
        
        <!-- for accordion slider in staff page -->
        <script type="text/javascript" src="js/jquery.hrzAccordion.js"></script>  
        
        <!-- for filterable effect in gallery and portfolio filterable page -->
        <script type="text/javascript" src="js/jquery.quicksand.js"></script>  
        
        <!-- for portfolio slider -->
        <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script> 
        
        <!-- for the contact page -->
        <script type="text/javascript" src="js/contact.js"></script>  
        
        <!-- SLIDER ELASTIC -->                                                               
        <link rel="stylesheet" id="slider-elastic-css" href="stylesheets/slider-elastic.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.eislideshow.js"></script>
        
        <!-- SLIDER CYCLE -->                                                               
        <link rel="stylesheet" id="slider-cycle-css" href="stylesheets/slider-cycle.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.slides.min.js"></script>
        
        <!-- SLIDER THUMBNAILS -->                                                               
        <link rel="stylesheet" id="slider-thumbnails-css" href="stylesheets/slider-thumbnails.css" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.aw-showcase.js"></script>
        
        <!-- SLIDER FLASH -->                                                               
        <script type="text/javascript" src="js/swfobject.js"></script>      
        
        <!-- SLIDER ELEGANT -->                                                               
        <link rel="stylesheet" id="slider-elegant-css" href="stylesheets/slider-elegant.css" type="text/css" media="all" />
        
        <!-- SLIDER NIVO -->                                                               
        <link rel="stylesheet" id="slider-nivo-css" href="stylesheets/slider-nivo.css" type="text/css" media="all" />     
        
        <!-- CUSTOM JAVASCRIPT -->                           
        <script type="text/javascript" src="js/jquery.custom.js"></script>
    </head>
    
    <body class="image-sphere-style responsive">
    
        <!-- START SHADOW WRAPPER -->
        <div class="shadowBg group">
            
            <!-- START WRAPPER -->
            <div class="wrapper group">
                 
                <!-- START HEADER -->
                <div id="header" class="group">
                
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                        <a href="index.html" title="Diverso"> 
                        <img src="images/edu.jpeg" width = "200" height = "60" alt="EducationUSA" />
                        </a>              
                    </div>
                    <!-- END LOGO -->
                    
                    <!-- START NAV -->
                    <div id="nav" class="group">
                        <ul class="level-1 white">
                            <li class="home">
                                <a href="home">HOME</a>
                            </li>
                            <li class="folder">
                                <a href="gradSchool">Grad School</a>
                            </li>
                            <li class="people">
                                <a href="profiler">Profiler</a>
                            </li>
                            <li class="pen">
                                <a href="professorReviews">Professor Reviews</a>
                            </li>
                            <li class="burst">
                                <a href="finance">Finance</a>
                                <ul class="sub-menu">
                                    <li><a href="scholarship">ScholarShip</a></li>
	                                <li><a href="student">Connect To Sponsor</a></li>
	                                <li><a href="Sponsor">Become a Sponsor</a></li>
                                </ul>
                            </li>
                            <li class="burst">
                                <a href="immigration">Immigration</a>
                                <ul class="sub-menu">
                                    <li><a href="visaStatsInd">Visa Stats</a></li>
	                                <li><a href="viQuestions">Sample Visa Questions</a></li>
	                                <li><a href="ds160faqs">Visa Types</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END NAV -->
                </div>
                <!-- END HEADER -->        
        
                <!-- START CONTENT -->
                <div id="content" class="layout-sidebar-right group">
                
                    <!-- SLOGAN --> 
                    <div id="slogan" class="inner">
                        <h1 class="only"><%= header%></h1>
                    </div>         
                    <!-- END SLOGAN --> 
                
                    <!-- START PRIMARY -->
                    <div id="primary" class="hentry group wrapper-content" role="main">
	                    <h2>Sample Visa Interview Questions</h2>
	                    <p>1. Why this university?</p>
						<p><b>Ans.</b> Sir, the first and foremost factor for selecting this university was the amount of quality research going on there in the field of Computer Science and Softw Engg. I came to know that my research interest matches with that of the faculty there. Hence, I want to be a part their research group and learn more. The main goal of the research there is to develop and investigate end-user software engineering technologies for enabling End Users to Shape Effective Software. Besides this, the University has its own Laboratory for Empirical Software Testing Research where students study software testing techniques by empirical means. There is also an Usability Testing Facility which is used as a testbed for systematically evaluating the usability and robustness of software tools and interfaces, across a range of common desktop platforms. Above all, the courses being offered there are designed in such a way that they are more research oriented. Specialization in Softw Engg @ Oregon State University is highly reputed and its ranked 5 worldwide for Softw Engg specialization.
						</p><p>[Something like this....Any 3 points of this would do.... Make it short and simple]
						</p>
						<p>2. Why do you plan to do MS? Why MS in CS ?
						</p><p><b>Ans.</b> Having worked for 2 years in an IT company I learnt a lot about software development and I have a good know-how of Computer Science and Software Engg, but a bit more technical knowledge and research in the field will serve greatly when I come back here and join the company of my choice. Higher qualifications give a better place, a better standard in today's competitive world. I have seen that there is a dearth of persons with greater technical know-how in this field, and whosoever has it will be benefitted highly. So I wish to complete my MS and strengthen my knowledge and grasp the opportunity.
						</p>	
						<p>3. Why do you wish to study in the US ?
						</p><p><b>Ans.</b> US grad Schools are way ahead in research in fields like Computer science and Software Engg. when compared to other countries of the world. They also have advanced courses like ####, %%%% and ***** which is absent in Indian Universities. Moreover, they stress on practical knowledge & not just book learning. A degree from US is globally recognized as the academic standards are very high there. USA is the mecca of education.
						</p>
						<p>4. Why Don't you study in India ?
						</p><p>(This is the same question as the second but you can answer it in a different way. Any one qn. will be asked. If 3rd q is asked, stress on + points of US schools and if why not India is asked, show the negative side of Indian Universities. In both the cases you have to show the plus points of US Universities with compared to Indian Universities)
						</p><p><b>Ans.</b> Masters Education in India lays more emphasis on the theory part rather than the practical, Hence a Masters degree from India does not really help in fulfilling the career goals of a person like me. Indian Universities do not have enough facilities to support students in their research, whereas US Universities have sound infrastructure to support students to gain both the theoretical as well as practical knowledge. Moreover, the courses in India are not flexible as in US.
						</p>
						<p>5. Why MS CS with Softw Engg as specialization ?
						</p><p><b>Ans.</b> The number of end-user programmers in the world will soon number 20 times as many as the number of professional programmers. Current research is primarily focused in helping with the dependability of the software the end users create and customize. Towards this goal, researchers in oregon State University are working on ways to enable systems to collaborate with these users, in a software development paradigm that blends traditionally separate functions -- specification, design, implementation, component integration, debugging, testing, and maintenance -- into tightly integrated, highly interactive environments that work together with users to continually improve dependability.
						</p><p>[Directly lifted from Univ website    ]
						</p>
						<p>6. Which was your undergraduate college?
						</p><p><b>Ans.</b> I did my Bachelors of Engineering in ****** which is affiliated to #### University.
						</p>
						<p>7. How many admits/ rejects?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>8. What was your first choice ?
						</p><p><b>Ans.</b> Oregon State University was my first Choice.
						</p>
						<p>9. What is your GRE/TOEFL score ?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>10. What are your grades like ?
						</p><p><b>Ans.</b> Sir, We have a percentage system, and I scored ___ overall.
						</p><p>[Else tell ur CGPA]
						</p>
						<p>11. Did you have any backlogs ? [if any]
						</p><p><b>Ans.</b> Yes Sir, I had # backlogs during ^%^&%^& sems. It was very unfortunate that I was unwell.
						</p><p>[Don say u were involved in sports, hence couldnt concentrate during exams... Saw 2 ppl in edulix get reject coz of this answer]
						</p>
						<p>12. What was your bachelor's degree in?
						</p><p><b>Ans.</b> I completed my Bachelors of Engineering in ^&%^&%.
						</p>
						<p>13. Why did you switch fields from Electrical and Electronics to Computer Science ? Why are you changing your stream?
						</p><p><b>Ans.</b> During my college days, apart from my coursework in college I learnt computer languages out of my own interest. In the process I completed courses in C, C++, JAVA, J2EE. I became a Sun certified Java Programmer during my 3rd year. The additional interest that I had for Comp Science also made me take up a job as a Software Engineer. I became well trained and gained valuable industry experience during my job. But, I always had it in my mind, that once I strengthen myself in my field, I will go on to enhance my skills in the field of Computers and Software Engg. Hence I chose to pursue my masters in Computer Science.
						</p>
						<p>14. What is the purpose of your trip?
						</p><p><b>Ans.</b> To pursue my Masters in Computer Science at Oregon State University.
						</p>
						<p>15. Which university are you planning to go to?
						</p><p><b>Ans.</b> Oregon State University, Corvallis
						</p>
						<p>16. Who is planning to sponsor you?
						</p><p><b>Ans.</b> Sir, my father is supporting me for my higher education. I have also got a bank loan sanctioned for ** lakhs.
						</p>
						<p>17. Your passbooks show that a large amount of money has recently been deposited. How would you explain that?
						</p><p><b>Ans.</b> [Explain it... whatever may it be.. Convince him you were always rich]
						</p>
						<p>18. What do your parents do ?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>19. Does any of your relative stay in the US?
						</p><p><b>Ans.</b> No...[If yes... be honest... they are not goin to reject u for this reason]
						</p>
						<p>20. Your brother/sister is studying too. How will your parents support both of you?
						</p><p><b>Ans.</b> Yes/ No [If yes...Explain.... that he has scholarship... or... less fees etc]
						</p>
						<p>21. Why is your GRE score low ?
						</p><p><b>Ans.</b> I answered the first few questions incorrectly and I couldn't improve my score later even after performing well later. But you can see that the TOEFL score is decent which shows my proficiency in the English language.
						</p>
						<p>22. What are you plans after Graduation?
						</p><p><b>Ans.</b> Sir, I like the present company I am working for now. So I wish to complete my MS and strengthen my technical knowledge and get back to India Post-MS and rejoin the same company.
						</p><p>[Have some valid reason]
						</p>
						<p>23. What is your parents’ annual income?
						</p><p><b>Ans.</b> My family’s annual income is *** lakhs. My father’s annual income is &&& lakhs and my mother’s annual income is ### lakhs.
						</p>
						<p>24. Do you intend to come back ? or What if you are offered a job in US ?
						</p><p><b>Ans.</b> Yes! I really like the company that I am working at present. But, I am planning to return back and re-join the same company after my Masters. I am going to US to upgrade my skills in computer science and update my knowledge in the latest Software Engg practices. This would surely enable me get better results in the competitive field here.
						<p>
						<p>25. Tell me about your University’s location ?
						</p><p><b>Ans.</b> Oregon State University is in Corvallis, USA. Corvallis is a city located in central western Oregon. It is located 1.5 hours driving distance from Portland and 40 minutes from Eugene.
						</p>
						<p>26. How many time s have u attended VISA interview before this? IS this your first time?
						</p><p><b>Ans.</b> [Explain if you have been earlier... for the same VISA or... if u had gone to US in tourist VISA..Explain it]
						</p>
						<p>27. What are the courses offered ? or What type of courses are there ?
						</p><p><b>Ans.</b> There are a variety of courses offered at Oregon State University. They can be broadly classified under three main baskets (1) Languages and Systems (2) Real World Computing (3) Theoretical Computer Science.
						Languages and Systems has courses such as Database Management Systems, High Performance Computer Architecture and Programming Languages.
						Real World Computing has courses such as Software Engineering, Machine Learning and Computer graphics.
						Theoretical Computer Science has courses such as Algorithms and Data Structures, Computability and Error Correcting Codes.
						</p><p>[Something like this]
						</p>
						<p>28. What do you know about the University ?
						</p><p><b>Ans.</b> Oregon State University (OSU) is a public research university located in Corvallis, Oregon, United States. The university offers undergraduate, graduate and doctoral degrees and a multitude of research opportunities. There are over 200 academic degree programs offered through the university. The University offers around 60 courses to graduates and undergraduates and there are more than 320 full time faculties. There are more than 7000 students in the University. It is located 1.5 hours driving distance from Portland and 40 minutes from Eugene.
						</p>
						<p>29. How did you come to know about your University ?
						</p><p><b>Ans.</b> I came to know about the University through internet and email exchanges with the seniors.
						</p>
						<p>30. Supposing you meet someone in the US whom you like, would you consider marrying her ?
						</p><p><b>Ans.</b> I am from a very traditional family. I am very much concerned about my career and definite on my goals. I have more important responsibilities to shoulder and am confident not to get carried away or get attracted to people. I have decided to do an MS and am very professional.
						</p>
						<p>31. Do you plan to work in the US supposing on-campus ?
						</p><p><b>Ans.</b> I have no plans to work while studying. I want to complete the course as early as possible and come back and join the IT industry in India.
						</p>
						<p>32. How many members in a family ?
						</p><p><b>Ans.</b> [Tell them]
						</p>
						<p>33. Why the entries in the passbook are recent ?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>34. Even in this condition of economic recession, you want to go US. Why ?
						</p><p><b>Ans.</b> I am going there for studies and I want to return back after my studies. So, economic recession in US doesn't affect me.
						</p>
						<p>35. Why not #####. It is ranked higher than this ?
						</p><p><b>Ans.</b> Oregon State University offers new and advanced courses like Machine Learning, End-User Software Engineering, Functional programming etc. I came to know from my email correspondence with Prof. ***** that we had similar research interests and I wish to join his research group. Besides this, the University has its own Laboratory for Empirical Software Testing Research where students study software testing techniques by empirical means. There is also an Usability Testing Facility which is used as a testbed for systematically evaluating the usability and robustness of software tools and interfaces, across a range of common desktop platforms. All these combined together made me chose Oregon State University over #### University.
						</p>
						<p>36. Name some professors of your University ?
						</p><p><b>Ans.</b> (add prefix 'Dr' to the professor even if he is not of doctorate level)
						</p>
						<p>37. Why have you not applied to ______ university even though you have sent your GRE score ?
						</p><p><b>Ans.</b>
						(a) While I took my GRE I was not aware of universities that were best suited for my research interests.Hence I chose top few colleges which I knew at that time.
						(b) I had done an extensive research over the Universities before applying to any university. I tried to match my requirements with the University's requirement. Some how some things were not matching. So I did not apply to that University.
						</p>
						<p>38. How did they manage to save all that money?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>39. So if your dad is a businessman, why you going for Computers?
						</p><p><b>Ans.</b> I want to follow my own dreams.
						</p>
						<p>40. How many people work under your father ?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>41. What about your second year fees?
						</p><p><b>Ans.</b> [ Explain it as per ur CA statement]
						</p>
						<p>42. What kind of money is he using to fund your studies?
						</p><p><b>Ans.</b> All the money is in Saving Bank accounts. [Similar to this]
						</p>
						<p>43. They can’t support you from this income?
						</p><p><b>Ans.</b> I have got a loan of ** lakh rupees sanctioned from the bank. My family’s annual income is ## lakhs per annum. Other than this we also have enough savings and and rental income to support the family. Hence finance will never be a problem.
						</p>
						<p>44. When did your parents starting saving for your education?
						</p><p><b>Ans.</b> For the past # years.
						</p>
						<p>45. How much your parents would be providing you?
						</p><p><b>Ans.</b> My parents would be paying me around ** lakhs. Remaining amount would be paid via bank loan obtained.
						</p>
						<p>46. Where did all these funds come from suddenly? How do I believe ur funds in the passbooks are genuine as the entries are recent and huge?
						</p><p><b>Ans.</b> These have been maintained for atleast 6 months. My father obtained this money by #%&^^&&. Also, I also have the bank certificate issued by the bank manager as an additional proof for the cash balance given in the pass book.
						</p>
						<p>47. Can you tell me how did you get this amount? How did you get this money?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>48. Tell me last three months transaction. How much money is been deposited in three months.
						</p><p>How much money have you transferred in your saving in last three months?
						</p><p>[VOs have framed this Q as a counter measure to ppl that transfer funds in small chunks in SB accounts for the sake of visa Interview]
						</p><p><b>Ans.</b> [Explain as per pass book]
						</p>
						<p>49. Why does the passbook have only 1 page filled? How long have you had this account ???
						</p><p><b>Ans.</b> As this bank is near to my house my father opened an account here. I also got my educational loan sanctioned from this bank. Since all our future transactions for my studies abroad will take place from this bank, my father transferred money from his other accounts to this account.
						</p>
						<p>50. What will be the fee if u studying India??
						</p><p><b>Ans.</b> In India it would cost around 1.5 lakhs per year.
						</p>
						<p>51. How many universities did you apply to?
						</p><p><b>Ans.</b> 7
						</p>
						<p>What are annual expenses of your course? What’s the tuition fee? Living expenses?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>52. You look like Potential immigrants (OR) I dont think you will come back to India
						</p><p><b>Ans.</b>
						(a) I am from a well-to do family and money is not at all essential for me. The only thing I lack is Masters from a reputed university which will make me a better software professional. As far as opportunity is concerned, because of recession most of the US Companies are turning towards Indian companies for their software solutions. So I am certain that with my degree I will get an equivalent opportunity and pay packet in India.
						
						</p><p>(b) I am from a well-to do family and money is not at all essential for me. The only thing I lack is Masters from a reputed university which will make me a better software professional. Also, I am highly satisfied with the present company I am working for. So I wish to complete my MS and strengthen my technical knowledge and get back to India Post-MS and rejoin &*^&$.
						
						</p>
						<p>53. Won’t there be any problems within the family if your father spends most of his savings for your education purpose only? How can you justify this?
						</p><p><b>Ans.</b> Ours is a close knit and educated family and all member of my family understand the essence of good education for one’s career growth. Besides that I am using only [_]% of their savings in my education.
						</p>
						<p>54. Are you going to use up all your fathers savings? So do u think he is going to spend all his hard earned money?
						</p><p><b>Ans.</b> No Sir. I would be using only [_]% of my father’s savings. The remaining [_]% of the finance for studies will be taken care by the bank loan.
						</p>
						<p>55. Who is going to pay for such an expensive course? Isn’t this an expensive course to afford?
						</p><p><b>Ans.</b> I have got a bank loan approved for [_]lakhs and my father will sponsor me for the remaining amount from his savings. It’s an affordable course considering my financial background and we look at it as an investment. I can reap rich dividends from this course for rest of my life.
						</p>
						<p>56. Will you repay your sponsor ?
						</p><p><b>Ans.</b> No.
						</p><p>Quote:Why ?
						</p><p>My sponsors are financially strong and they do not need funds from me.
						</p>
						<p>57. Do u think u will get the visa
						</p><p><b>Ans.</b> I have shown sufficient funds required for my MS and I have shown strong intent to return to India so I don’t see why u will reject my visa.
						</p>
						<p>58. Tell me about the current project you are working on ? [For working ppl obviously]
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>59. Have ever made any trips abroad. Have you ever been to foreign country? Have you ever been outside India anywhere? So you have never been to America?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>60. How you will transfer money to US?
						</p><p><b>Ans.</b> Through wire transfer.
						</p>
						<p>61. Why do you seem so nervous?</p>
						<p>62. How many passports do you have?
						</p><p><b>Ans.</b> 1
						</p>
						<p>63. Are ur parents happy with ur decision?
						</p><p><b>Ans.</b> Yes they are. They are educated and they know very well that a MS from US is very important for my career growth
						</p>
						<p>64. What will your education abroad bring u in India? Same as… WHY MS ?
						</p><p><b>Ans.</b> Having worked for 2 years in an IT company I learnt a lot about software development and I have a good know-how of Computer Science and Software Engg, but a bit more technical knowledge and research in the field will serve greatly when I come back here and join the company of my choice. Higher qualifications give a better place, a better standard in today's competitive world. I have seen that there is a dearth of persons with greater technical know-how in this field, and whosoever has it will be benefited highly. So I wish to complete my MS and strengthen my knowledge and grasp the opportunity.
						</p>
						<p>65. Do you have any relative in US? If so..What are they doing ??
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>66. Why did you applied to 2 universities in CA ?
						</p><p><b>Ans.</b> Location was never in my mind when I chose 5 universities where I have to apply, its just a sheer co-incidence that 2 of these universities were in CA.
						</p>
						<p>67. Do you have any immovable property here? Land? Do u have any lands?
						</p><p><b>Ans.</b> [Explain]
						<p>
						<p>68. What is ur opinion about USA? What is the thing you like best in America? What kind of good things do you know about America?
						</p><p><b>Ans.</b> USA is the most developed country in the world. People there are very friendly and helping. Education and research is at its best in USA. A degree from an US university is globally recognized as the academic standards are very high there. USA is the mecca of education.
						</p>
						<p>69. How can u adjust with a new environment ? Do you have any problem in language, living there and studying ?
						</p><p><b>Ans.</b> Americans are very friendly and helpful. They will never let you feel that you are a foreigner. It is very easy to adjust with them. So I do not think I will have any problem in mixing with them
						</p>
						<p>70. Have u referred any websites for this visa interview?
						</p><p><b>Ans.</b> None. Except for the VFS-USA website.
						</p>
						<p>71. How did you prepare yourself for this interview? Did u join any yahoo group to help u with the interview preparation? Why did you take help from educational consultants? Did you go to some consultant?
						</p><p><b>Ans.</b> No preparation. Just collected all my documents as mentioned in VFS site and now I am in front of you.
						</p>
						<p>72. Your answer seem well rehearsed ?
						</p><p><b>Ans.</b> Really? Do we need preparation for such a simple interview
						</p>
						<p>73. If need arises do you have anyone in U.S. who could give you US. $? [Again a trap]
						</p><p><b>Ans.</b> No
						</p>
						<p>74. What sort of job will u get here ?
						</p><p><b>Ans.</b> I will get a jobs as a Software Development Analyst or Software Engineering Manager.
						</p><p>[Explain it.. based on ur area of specialization]
						</p>
						<p>75. Who is a Software Engineer? [Or....Whatever profession ur in at present]
						</p><p><b>Ans.</b> A software engineer is a person who applies the principles of software engineering to the design, development, testing, and evaluation of the softwares and systems that make computers or anything containing software work.
						</p>
						<p>76. What sort of companies will take you? Who is going to hire you? So for what kind of companies do u want to work ? Where all you can work?
						</p><p><b>Ans.</b> I am looking to come back and work in the same company I am working for now.
						</p>
						<p>78. With which American companies u would like to work with? [again a trap]
						</p><p><b>Ans.</b> I am open to not only to US MNCs but all MNCs
						</p>
						<p>79. What would be your salary after coming to India? How much salary are you expecting?
						</p><p><b>Ans.</b> [Explain]
						</p>
						<p>80. With the kind of salaries you are offered there, why will you come back? How much do you expect to get? How much pay are u expecting in INDIA
						</p><p><b>Ans.</b> MNCs like ****** are paying [_] lakhs per annum
						</p>
						<p>81. Do you think these companies will hire you for that much money?
						</p><p><b>Ans.</b> Yes. Software Development Analyst is a highly sophisticated job and compensation package for such jobs is highly rewarding.
						</p>
						<p>82. Do you have plans to take a break from Studies? [again a trap]
						</p><p><b>Ans.</b> No
						</p>
						<p>83. How can u adjust with the extreme weather (cold ) climate in US
						</p><p><b>Ans.</b> I think weather should not be a problem for me as my body gets accustomed to new climate easily.
						</p>
						<p>84. I don't think u are the same person? [Again a trap]
						</p><p><b>Ans.</b> Yes. I am the same person [with a smile]
						</p>
						<p>85. Are these Originals?
						</p><p><b>Ans.</b> Yes [Smile]
						</p>
						<p>86. The documents you have produced r highly questionable. Your documents are faked
						</p><p><b>Ans.</b> Sir all of them are genuine and they have been signed by authorized signatories [Here a smile is a must]
						</p>
						<p>87. What locations would you see there?
						</p><p><b>Ans.</b> I am going there for studies, and since my stay in US is for 2 years only so I don’t think I will get time to freak around.
						</p>
						<p>88. What does a computer engineer do ?
						</p><p><b>Ans.</b> A computer engineer is an engineering professional who not only possesses the training of an electrical engineer, but also has credentials related to the field of computer science.
						</p>
						<p>89. Why don't u shift to #### ? It’s a very good university. Will u shift? [its a trap]
						</p><p><b>Ans.</b> No. I think Oregon State University is the best university for Softw Engg. for someone with profile as mine.
						</p>
						<p>90. Why MS after 3 yrs since GRE ?
						</p><p><b>Ans.</b> Having given my GRE during my 3rd year in Engineering I decided to learn more in computer science, software engineering practices and gain enough software production experience before getting involved in research. So I applied for masters 3 years after my GRE.
						</p>
						<p>91. What if I reject you ?
						</p><p>I have tried my best to fulfill all the requirements to get a visa. With the kind of academic and financial background that I have, I never thought that such a question would ever arise.
						</p>
						<p>92. Why should I allow you a visa ?
						</p><p>(here if q91 is asked, don't expect q92 to be asked as it is one and the same q)
						</p><p><b>Ans.</b> Sir , In my opinion, I have a strong educational and financial background and a genuine reason to go to US. My profile is good enough for pursuing Masters' in USA and an admit from an university like Oregon State is a testimony to that. I have tried my best to fulfill all the requirements to get a visa. So, I expect a visa from you.
						</p><p>IF YOUR SPONSOR IS INVOLVED IN BUSINESS OR OWNS A COMPANY</p>
						<p>93. How big is the company ?</p>
						<p>94. What’s this company all about ?</p>
						<p>95. How many people working ?
						</p><p>96. What business does your father do ?
						</p><p>97. For how long is he involved in this business ?
						
						</p><p>IF SPONSOR IS SOMEONE OTHER THAN YOUR PARENTS [Say for eg UR Uncle is sponsoring you.]
						</p>
						<p>98. How many children your uncle have ?
						</p><p>99. How about ur uncle's kids ?
						</p><p>100. Won’t he save money for his children ?</p>                  
											
					</div>
                    <!-- END CONTENT -->
                    
                    <!-- START SIDEBAR -->
                    <div id="sidebar" class="group">
                        <div class="widget-first widget widget_nav_menu">
                            <h3>Forms</h3>
                            
                            <ul class="menu">
                                <li><a href="visaStatsInd">Visa Stats</a></li>
                                <li><a href="viQuestions">Sample Visa Questions</a></li>
                                <li><a href="ds160faqs">Visa Types</a></li>
                                <li><a href="immigration">Videos</a></li>
                            </ul>
                        </div>
                        
                        <h3>Google Map</h3>
                        <div class="google-map-frame">
                            <iframe width="100%" height="272" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=catania&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=18.129097,39.506836&amp;ie=UTF8&amp;hq=&amp;hnear=Catania,+Sicilia&amp;z=12&amp;output=embed"></iframe>
                            <div class="shadow-thumb-sidebar"></div>
                        </div>
                    </div>
                    <!-- END SIDEBAR -->      
                    
                </div>
                <!-- END CONTENT -->
        
                <!-- START TWITTER -->
                <div id="twitter-slider" class="group">
                    <div class="tweets-list"></div>
                    <div class="bird"></div>
                </div>
                <!-- END TWITTER -->   
                
                <!-- START COPYRIGHT -->
                <div id="copyright" class="group two-columns">
                    <div class="inner group">
                        <p class="left">Copyright <a href="#"><strong>Team 16</strong></a> 2014 - Powered by <strong>Dragons</strong></a></p>
                        <p class="right">
                            <a href="#" class="socials facebook" title="Facebook">facebook</a>
                            <a href="#" class="socials twitter" title="Twitter">twitter</a>
                            <a href="#" class="socials linkedin" title="Linkedin">linkedin</a>
                        </p>
                    </div>
                    
                </div>
                <!-- END COPYRIGHT -->  
                   
            </div>
            <!-- END WRAPPER --> 
            	    
        </div>
        <!-- END SHADOW -->       
        
    </body>
</html>