<html>
	<head>
		<title>Visa Types for students</title>
		<link rel="stylesheet" id="jquery-tipsy-css" href="stylesheets/jquery.jqplot.css" type="text/css" media="all" />
	    <script type="text/javascript" src="js/jquery.jqplot.min.js"></script>
	</head>
	<body>
		Your course of study and the type of school you plan to attend
		determine whether you need an F-1 visa or an M-1 visa.
		<table width="472" cellspacing="0" cellpadding="0" border="0" class="grid">
			<tbody>
				<tr>
					<td width="319" style="vertical-align: bottom;"><p><b>To enter the United States to attend:</b></p>
					</td>
					<td width="153" style="vertical-align: bottom;"><p><b>You need the following visa category:</b></p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>University or college</p>
					</td>
					<td width="153" rowspan="6"><p style="text-align: center;">F</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>High School</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>Private elementary school</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>Seminary</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>Conservatory</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>Another academic institution, including a language training program</p>
					</td>
				</tr>
				<tr>
					<td width="319"><p>Vocational or other recognized nonacademic institution, other than a language training program</p>
					</td>
					<td width="153"><p style="text-align: center;">M</p>
					</td>
				</tr>
			</tbody>
		</table>
		
		<p>Documents needed for F1 Visa </p>
		<table>
			<tr>	
				<td>I20</td>
				<td></td>
	
			</tr>
		</table>
	</body>
</html>